<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>explosionbig_000.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{80,66}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,66}}</string>
			<key>sourceSize</key>
			<string>{80,66}</string>
		</dict>
		<key>explosionbig_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{80,0},{80,66}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,66}}</string>
			<key>sourceSize</key>
			<string>{80,66}</string>
		</dict>
		<key>explosionbig_002.png</key>
		<dict>
			<key>frame</key>
			<string>{{160,0},{80,66}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,66}}</string>
			<key>sourceSize</key>
			<string>{80,66}</string>
		</dict>
		<key>explosionbig_003.png</key>
		<dict>
			<key>frame</key>
			<string>{{240,0},{80,66}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,66}}</string>
			<key>sourceSize</key>
			<string>{80,66}</string>
		</dict>
		<key>explosionbig_004.png</key>
		<dict>
			<key>frame</key>
			<string>{{320,0},{80,66}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,66}}</string>
			<key>sourceSize</key>
			<string>{80,66}</string>
		</dict>
		<key>explosionbig_005.png</key>
		<dict>
			<key>frame</key>
			<string>{{400,0},{80,66}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,66}}</string>
			<key>sourceSize</key>
			<string>{80,66}</string>
		</dict>
		<key>explosionbig_006.png</key>
		<dict>
			<key>frame</key>
			<string>{{480,0},{80,66}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,66}}</string>
			<key>sourceSize</key>
			<string>{80,66}</string>
		</dict>
		<key>explosionbig_007.png</key>
		<dict>
			<key>frame</key>
			<string>{{560,0},{80,66}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,66}}</string>
			<key>sourceSize</key>
			<string>{80,66}</string>
		</dict>
		<key>explosionbig_008.png</key>
		<dict>
			<key>frame</key>
			<string>{{640,0},{80,66}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,66}}</string>
			<key>sourceSize</key>
			<string>{80,66}</string>
		</dict>
		<key>explosionbig_009.png</key>
		<dict>
			<key>frame</key>
			<string>{{720,0},{80,66}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,66}}</string>
			<key>sourceSize</key>
			<string>{80,66}</string>
		</dict>
		<key>explosionbig_010.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,66},{80,66}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,66}}</string>
			<key>sourceSize</key>
			<string>{80,66}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>size</key>
		<string>{800,132}</string>
		<key>textureFileName</key>
		<string>explosionbig.png</string>
	</dict>
</dict>
</plist>
