<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>whitehotbig_000.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{72,68}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{72,68}}</string>
			<key>sourceSize</key>
			<string>{72,68}</string>
		</dict>
		<key>whitehotbig_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{72,0},{72,68}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{72,68}}</string>
			<key>sourceSize</key>
			<string>{72,68}</string>
		</dict>
		<key>whitehotbig_002.png</key>
		<dict>
			<key>frame</key>
			<string>{{144,0},{72,68}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{72,68}}</string>
			<key>sourceSize</key>
			<string>{72,68}</string>
		</dict>
		<key>whitehotbig_003.png</key>
		<dict>
			<key>frame</key>
			<string>{{216,0},{72,68}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{72,68}}</string>
			<key>sourceSize</key>
			<string>{72,68}</string>
		</dict>
		<key>whitehotbig_004.png</key>
		<dict>
			<key>frame</key>
			<string>{{288,0},{72,68}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{72,68}}</string>
			<key>sourceSize</key>
			<string>{72,68}</string>
		</dict>
		<key>whitehotbig_005.png</key>
		<dict>
			<key>frame</key>
			<string>{{360,0},{72,68}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{72,68}}</string>
			<key>sourceSize</key>
			<string>{72,68}</string>
		</dict>
		<key>whitehotbig_006.png</key>
		<dict>
			<key>frame</key>
			<string>{{432,0},{72,68}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{72,68}}</string>
			<key>sourceSize</key>
			<string>{72,68}</string>
		</dict>
		<key>whitehotbig_007.png</key>
		<dict>
			<key>frame</key>
			<string>{{504,0},{72,68}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{72,68}}</string>
			<key>sourceSize</key>
			<string>{72,68}</string>
		</dict>
		<key>whitehotbig_008.png</key>
		<dict>
			<key>frame</key>
			<string>{{576,0},{72,68}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{72,68}}</string>
			<key>sourceSize</key>
			<string>{72,68}</string>
		</dict>
		<key>whitehotbig_009.png</key>
		<dict>
			<key>frame</key>
			<string>{{648,0},{72,68}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{72,68}}</string>
			<key>sourceSize</key>
			<string>{72,68}</string>
		</dict>
		<key>whitehotbig_010.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,68},{72,68}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{72,68}}</string>
			<key>sourceSize</key>
			<string>{72,68}</string>
		</dict>
		<key>whitehotbig_011.png</key>
		<dict>
			<key>frame</key>
			<string>{{72,68},{72,68}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{72,68}}</string>
			<key>sourceSize</key>
			<string>{72,68}</string>
		</dict>
		<key>whitehotbig_012.png</key>
		<dict>
			<key>frame</key>
			<string>{{144,68},{72,68}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{72,68}}</string>
			<key>sourceSize</key>
			<string>{72,68}</string>
		</dict>
		<key>whitehotbig_013.png</key>
		<dict>
			<key>frame</key>
			<string>{{216,68},{72,68}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{72,68}}</string>
			<key>sourceSize</key>
			<string>{72,68}</string>
		</dict>
		<key>whitehotbig_014.png</key>
		<dict>
			<key>frame</key>
			<string>{{288,68},{72,68}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{72,68}}</string>
			<key>sourceSize</key>
			<string>{72,68}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>size</key>
		<string>{720,136}</string>
		<key>textureFileName</key>
		<string>whitehotbig.png</string>
	</dict>
</dict>
</plist>
