<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>whitehotmedium_000.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{56,50}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{56,50}}</string>
			<key>sourceSize</key>
			<string>{56,50}</string>
		</dict>
		<key>whitehotmedium_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{56,0},{56,50}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{56,50}}</string>
			<key>sourceSize</key>
			<string>{56,50}</string>
		</dict>
		<key>whitehotmedium_002.png</key>
		<dict>
			<key>frame</key>
			<string>{{112,0},{56,50}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{56,50}}</string>
			<key>sourceSize</key>
			<string>{56,50}</string>
		</dict>
		<key>whitehotmedium_003.png</key>
		<dict>
			<key>frame</key>
			<string>{{168,0},{56,50}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{56,50}}</string>
			<key>sourceSize</key>
			<string>{56,50}</string>
		</dict>
		<key>whitehotmedium_004.png</key>
		<dict>
			<key>frame</key>
			<string>{{224,0},{56,50}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{56,50}}</string>
			<key>sourceSize</key>
			<string>{56,50}</string>
		</dict>
		<key>whitehotmedium_005.png</key>
		<dict>
			<key>frame</key>
			<string>{{280,0},{56,50}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{56,50}}</string>
			<key>sourceSize</key>
			<string>{56,50}</string>
		</dict>
		<key>whitehotmedium_006.png</key>
		<dict>
			<key>frame</key>
			<string>{{336,0},{56,50}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{56,50}}</string>
			<key>sourceSize</key>
			<string>{56,50}</string>
		</dict>
		<key>whitehotmedium_007.png</key>
		<dict>
			<key>frame</key>
			<string>{{392,0},{56,50}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{56,50}}</string>
			<key>sourceSize</key>
			<string>{56,50}</string>
		</dict>
		<key>whitehotmedium_008.png</key>
		<dict>
			<key>frame</key>
			<string>{{448,0},{56,50}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{56,50}}</string>
			<key>sourceSize</key>
			<string>{56,50}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>size</key>
		<string>{504,50}</string>
		<key>textureFileName</key>
		<string>whitehotmedium.png</string>
	</dict>
</dict>
</plist>
